<!DOCTYPE html>
<html lang="pt">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=2">
    <title>PetShop Site</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>
    <header><%- include('partials/header') %></header>
    <main>
        <br><br>
        <div id="loading">
            <%- include('partials/loading') %>
        </div>
        <div id="content" style="display: none;"">
            <%- include(body)%>
        </div>
    </main>

    <footer>
        <%- include('partials/footer') %>
    </footer>

    <!-- Scripts-->
    <script src=" https://code.jquery.com/jquery-3.6.0.min.js">
    </script>
    <script src="https://unpkg.com/imask"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <script>const url = "<%= BACKEND_URL %>";</script>
            <script type="module" src="javascripts/script.js"></script>

            <% if (body && body.trim()==='pages/dashboard' ) { %>
                <script src="javascripts/dashboard.js"></script>
                <% } %>

                    <% if (body && body.trim()==='pages/registers' ) { %>
                        <script src="javascripts/dashboard.js"></script>
                        <% } %>

                            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                            <script src="js/materialize.js"></script>
                            <script src="js/init.js"></script>

</body>

</html>